#exec
main
structure
dynamics
exploit

# fortran binaries
*.o
*.mod
*.d

# data files
data/
hpc_fedvr_data/

# log conversation folder
log/


# temp files
.*.sw*

# fortran junk files
fort.*

# plot
*.png
